.main {
	background: #f4f4f4;
}

.card-actions {
	margin-top: -65px;
    margin-bottom: 0px;
    background-color: black;
    color: white;
    opacity: .8;
    height: 65px;
    margin-left: 0;
    width: 100%;
}

.card-container {
	padding: 0.5em;
    height: 220px;
}

.card-container md-card-text {
	text-align: left;
}

.card-container md-card-text span {
	font-size: 18px;
	
}