<div class="column">
  <div class="dribbble">
    <div class="dribbble-shot">
      <div class="dribbble-img">
  <a class="dribbble-link" href="/shots/2811018-A-I-Bots"><div data-picture="" data-alt="A.I. + Bots">
  <div data-src="https://d13yacurqjgara.cloudfront.net/users/6084/screenshots/2811018/bots_teaser.png"></div>
  <div data-src="https://d13yacurqjgara.cloudfront.net/users/6084/screenshots/2811018/bots_1x.png" data-media="(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)"></div>
  <noscript>
    &lt;img alt="A.I. + Bots" src="https://d13yacurqjgara.cloudfront.net/users/6084/screenshots/2811018/bots_teaser.png" /&gt;
  </noscript>
<img alt="A.I. + Bots" src="https://d13yacurqjgara.cloudfront.net/users/6084/screenshots/2811018/bots_teaser.png"></div>
</a>
  <a class="dribbble-over" href="/shots/2811018-A-I-Bots">    <strong>A.I. + Bots</strong>
      <span class="comment">New editorial illustrations for Scout.
https://scout.ai/story/ai-bots-mental-health-and-privacy</span>
    <em class="timestamp">June 30, 2016</em>
</a></div>

      <ul class="tools group" style="visibility: visible;">
  <li class="fav">
    <a title="View fans of this shot" href="/shots/2811018-A-I-Bots/fans">185</a>
  </li>
  <li class="cmnt">
    <span original-title="">8</span>
  </li>
  <li class="views">
    <span>2,593</span>
  </li>
</ul>

    </div>
    <div class="extras">
      <a href="/shots/2811018-A-I-Bots/rebounds">
        <span rel="tipsy" class="rebound-mark has-rebounds" original-title="This shot has rebounds.">
          0
        </span>
</a>      <a href="/shots">
        <span rel="tipsy" class="rebound-mark is-rebound" original-title="This shot is a rebound (reply) of another shot. View the original.">
          <img width="16" height="16" alt="Rebound" src="https://d13yacurqjgara.cloudfront.net/assets/icon-rebound-2x-24fe8b574874f064bcab2a8e46e0694cc39641ebef3d176c2eb742f5f0c7c308.png">
        </span>
</a>      <span rel="tipsy" class="attachments-mark" original-title="This shot has attachments">
        <img width="16" height="16" alt="Attachments" src="https://d13yacurqjgara.cloudfront.net/assets/icon-attach-16-2x-e9c3932a8f6aea66c54a2971b83349a8b6fac457fcaff1117cb13f74fe6766b4.png">
      </span>
    </div>

  </div>

  <h2 class="attribution hover-card-parent">
    <span class="attribution-user">
      <a class="url hoverable" rel="contact" href="/dchen"><img class="photo" src="https://d13yacurqjgara.cloudfront.net/users/6084/avatars/mini/realNiceCrop.png?1390892447"> Dave Chenell</a>
      <a class="badge-link" href="/pro">
  <span class="badge badge-pro">Pro</span>

</a>
    </span>
  </h2>
</div>