<md-card flex-xs flex-gt-xs="40" ng-mouseleave="showHideDetails()" ng-mouseenter="showHideDetails()" height="200">
  <div class="card-container">
    <div ng-style="{ 'background-image': 'url({{shot.images.normal}})', 'background-size': 'cover', 'height': '250px' }"></div>     
    <md-card-actions layout="row" layout-wrap layout-align="center center" class="links-actions">
      <a href="{{ value }}" ng-repeat="(key, value) in shot.user.links">
        <i ng-if="key == 'web'" class="fa fa-globe fa-3x" aria-hidden="true" ></i>
        <i ng-if="key != 'web'" class="fa fa-{{ key }} fa-3x" aria-hidden="true" ></i>
      </a>
    </md-card-actions>
    <md-card-actions layout="row" class="card-actions">
      <div layout="row" layout-align="start center" flex>
        <md-card-text layout="row" layout-align="start center">
          <span class="md-headline">{{ shot.title }}</span>
        </md-card-text>
      </div>
      <div layout="row" layout-align="end center">
        <!--<md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
        </md-button>-->
        <i class="fa fa-eye" aria-hidden="true"></i>
        <md-card-text>
          <span class="md-headline">{{ shot.views_count }}</span>
        </md-card-text>               
      </div>            
    </md-card-actions>
  </div>
  <div id="{{ shot.id }}" ng-if="show">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" ng-src="{{ shot.user.avatar_url }}"/>
      </md-card-avatar>
      <md-card-text>
          <span class="md-title">{{ shot.user.name }}</span>
      </md-card-text>
    </md-card-header>
    <md-card-content>
      <div ng-bind-html="shot.user.bio"></div>
    </md-card-content>
  </div>
</md-card>