<md-content layout-xs="column" layout="row" layout-wrap layout-align="center top">
		<md-card ng-repeat="shot in vm.shots" flex-xs flex-gt-xs="40" class="card-container">
			<div ng-style="{ 'background-image': 'url({{shot.images.normal}})', 'background-size': 'cover', 'height': '250px' }"></div>			
			<md-card-actions layout="row" layout-wrap layout-align="center center" class="links-actions">
	          	<a href="{{ value }}" ng-repeat="(key, value) in shot.user.links">
	          		<i ng-if="key == 'web'" class="fa fa-globe fa-3x" aria-hidden="true" ></i>
	          		<i ng-if="key != 'web'" class="fa fa-{{ key }} fa-3x" aria-hidden="true" ></i>
	          	</a>
	        </md-card-actions>
			<md-card-actions layout="row" class="card-actions">
				<div layout="row" layout-align="start center" flex>
					<md-card-text layout="row" layout-align="start center">
	            		<span class="md-headline">{{ shot.title }}</span>
	          		</md-card-text>
	          	</div>
	          	<div layout="row" layout-align="end center">
	          		<!--<md-button class="md-icon-button" aria-label="Favorite">
		            	<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
		          	</md-button>-->
		          	<i class="fa fa-eye" aria-hidden="true"></i>
	          		<md-card-text>
	            		<span class="md-headline">{{ shot.views_count }}</span>
	          		</md-card-text>		         		
		        </div>          	
	        </md-card-actions>

		</md-card>
	
  
</md-content>